* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration:none;
}

body {
  font-family: "Jost", sans-serif;
}

header {
  width: 100%;
}

.header-wrapper {
  max-width: 1200px; 
  height: 138px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; 
  padding: 0 20px; 
}

.logo-img {
  width: 177px; 
  height: auto; 
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #292F36;
  margin: 0 15px;
}

nav a:hover {
  text-decoration: underline;
}

.lupa {
  width: 20px; 
  height: 20px;
  margin-left: 15px;
}

.intro {
  position: relative;
  width: 100%;
  height: 1042px;
}

.intro-wrapper {
  position: relative;
}


.intro-info {
  position: absolute; 
  top: 330px; 
  left: 360px; 
  width: 567px;
  height: 383px;
  background-color: transparent; 
  padding: 20px; 
  border-radius: 10px; 

}

.intro-h1 {
  font-weight: 400;
  font-size: 75px;
}

.intro-p {
  margin-top: 9px;
  font-weight: 400;
  font-size: 22px;
}

.but-intro {
  margin-top: 21px;
  width: 219.14px;
  height: 75px;
  border-radius: 18px;
  background-color: #292F36;
  color: aliceblue;
}

.intro-img {
  width: 100%; 
  height: auto;
  border-bottom-left-radius: 350px; 
}


.info-wrapper{
  margin-top: 200px;
  margin-bottom: 200px;
  margin-left: 382px;
  display:flex;
  flex-direction:row;
}

.info-block{
  width: 358px;
  height: 225px;
  padding-right: 42px;
  text-align:center;
}

.info-h1{
  font-weight: 400;
  font-size: 25px;
}

.info-p{
  font-weight: 400;
  font-size: 22px;
  margin-top:20px;
  margin-bottom: 52px;
}

.info-a {
  font-weight: 400; 
  font-size: 18px; 
  margin-top: 52px; 
  text-decoration: none; 
  color: #292F36; 
}

.contact-wrapper{
  display:flex;
  flex-direction:row;
  width: 1200px;
  height: 700px;
}

.contact-info{
  margin-right:75px;
  padding-top: 43px;
  width: 472px;
  height: 614px;
}

.con-h1{
  font-weight: 400;
  font-size:50px;
}

.con-title{
  width: 472px;
  height: 354px;
}

.con-p{
  font-weight: 400;
  font-size: 22px;
  margin-top: 33px;
}

.con-number{
  display:flex;
  flex-direction:row;
  width: 277px;
  height: 93px;

}

.num-h1{
  font-weight: 700;
  font-size: 24px;
}

.num-h3{
  font-weight: 400;
  font-size: 22px;

}

.number-title{
  width: 164px;
  height: 64px;
  margin-left: 15px;
  padding-top: 14.5px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.con-but{
  margin-top: 47px;
  width: 219.14px;
  height: 75px;
  border-radius: 18px;
  background-color: #292F36;
  color: aliceblue;
}

.con-img{
  border-bottom-left-radius: 150px;
  border-top-right-radius:150px;
}


.reviews-blocks{
  display:flex;
  flex-direction:row;
}

.review-p{
  display:flex;
  text-align:center;
}

.review-block{
  padding-right:50px;
  width: 370px;
  height: 340px;
  background-color: #fff;
  border-radius:15px;
}

.photo-user{
  width: 77px;
  height: 77px;
}

.info-user-h1{
  padding-top: 10px;
  font-weight: 400;
  font-size: 25px;
}

.info-user-h3{
  font-weight: 400;
  font-size: 14px;
}

.user{
  padding-top: 53px;
  padding-left: 37px;
  display:flex;
  flex-direction:row;
}

.info-user{
    padding-left: 15px;
}

.review-title{
  padding-top: 25px;
  width: 296px;
  height: 99px;

}

.review-p{
  padding-left: 37px;
  padding-top: 25px;
  font-weight: 400;
  font-size: 22px;
}

.review-wrapper {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.reviews-blocks {
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

.review-block {
  margin-right: 40px; 
  width: 370px;
  height: 340px;
  background-color: #fff;
  border-radius: 15px;
}

.review-block:last-child {
  margin-right: 0; 
}

.review-h1 {
  margin-bottom: 38px; 
  font-weight:400;
  font-size: 50px;

}

.review {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  width: 1200px;
  height: 679px;
  background-color: #F4F0EC;
  border-radius: 50px;
  margin: 200px auto 0; 
}

/* .brand{
  width: 1010px;
  height: 103px;
}

.brand-wrapper{
  display:flex;
  
} */

.brand {
  width: 1010px; 
  margin: 0 auto; 
}

.brand-wrapper {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.block-hz {
  margin-bottom: 200px;
  margin-top: 200px;
  display: flex; 
  justify-content: center; 
}

.block-img {
  display: block; 
  width: auto; 
  height: auto; 
  margin-right: 108px; 
}


.block-img:last-child {
  margin-right: 0; 
}

.block-img1{
  margin-top: 30px;
  margin-right: 108px;
  width: 132px;
  height: 43px;
}

.block-img3{
  margin-top: 30px;
  margin-right: 108px;
  width: 163px;
  height: 43px;

}


.block-img4{
  margin-top: 30px;
  margin-right: 108px;
  width: 144px;
  height: 44px;
}

.block-img5{
  margin-top: 30px;
  width: 116px;
  height: 47px;
}

.prikin{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.project-block{
  width: 636px;
  height: 552px;
}

.project{
  width: 1201px;
  height: 1541px;
}

.project-wrapper{
  width: 1201px;
  height: 1541px;

}

.heading-h1{
  width: 451px;
  height: 63px;
  text-align:center;
  font-weight: 400;
  font-size: 50px;
}

.heading-p{
  width: 737px;
  height: 66px;
  text-align:center;
  font-weight: 400;
  font-size: 22px;
}



.heading {
  height: 137px;
  display: flex; /* Используем flexbox для центрирования */
  flex-direction: column; /* Вертикальное расположение элементов */
  align-items: center; /* Центрируем по горизонтали */
  justify-content: center; /* Центрируем по вертикали */
  text-align: center; /* Центрируем текст */
}

.project-blocks {
  display: flex; /* Используем flexbox для расположения блоков */
  flex-wrap: wrap; /* Позволяем блокам переноситься на новую строку */
  justify-content: center; /* Центрируем блоки по горизонтали */
}


.project {
  display: flex; /* Используем flexbox для центрирования */
  justify-content: center; /* Центрируем содержимое по горизонтали */
  align-items: center; /* Центрируем содержимое по вертикали */
  flex-direction: column; /* Вертикальное расположение элементов */
  width: 100%; /* Занимаем всю ширину родительского элемента */
}

.project-wrapper {
  max-width: 1300px; /* Ограничиваем максимальную ширину блока */
  width: 100%; /* Занимаем всю ширину родительского элемента */
  padding: 0 20px; /* Добавляем отступы, если необходимо */
}

.heading {
  margin-bottom: 93px;
  height: 137px;
  display: flex; /* Используем flexbox для центрирования */
  flex-direction: column; /* Вертикальное расположение элементов */
  align-items: center; /* Центрируем по горизонтали */
  justify-content: center; /* Центрируем по вертикали */
  text-align: center; /* Центрируем текст */
}

.project-block{
  margin-bottom: 60px;
  width: 619px;
  height: 549px;

}

.knopka{
  padding-left:262px;
  width: 70px;
  height: 70px;
}

.project-text{
  margin-bottom:0px;
  width: 217px;
  height: 62px;
}

.items-bot{
  display:flex;
  flex-direction:row;
}

.items-bot{
  margin-top:24px;
  width: 547px;
  height: 70px;
  margin-bottom:80px;
}