* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration:none;
}

body {
  font-family: "Jost", sans-serif;
}

header {
  width: 100%;
}

.header-wrapper {
  max-width: 1200px; 
  height: 138px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; 
  padding: 0 20px; 
}

.logo-img {
  width: 177px; 
  height: auto; 
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #292F36;
  margin: 0 15px;
}

nav a:hover {
  text-decoration: underline;
}

.lupa {
  width: 20px; 
  height: 20px;
  margin-left: 15px;
}

.intro {
  position: relative;
  width: 100%;
  height: 1042px;
}

.intro-wrapper {
  position: relative;
}


.intro-info {
  position: absolute; 
  top: 330px; 
  left: 360px; 
  width: 567px;
  height: 383px;
  background-color: transparent; 
  padding: 20px; 
  border-radius: 10px; 

}

.intro-h1 {
  font-weight: 400;
  font-size: 75px;
}

.intro-p {
  margin-top: 9px;
  font-weight: 400;
  font-size: 22px;
}

.but-intro {
  margin-top: 21px;
  width: 219.14px;
  height: 75px;
  border-radius: 18px;
  background-color: #292F36;
  color: aliceblue;
}

.intro-img {
  width: 100%; 
  height: auto;
  border-bottom-left-radius: 350px; 
}


.info-wrapper{
  margin-top: 200px;
  margin-bottom: 200px;
  margin-left: 382px;
  display:flex;
  flex-direction:row;
}

.info-block{
  width: 358px;
  height: 225px;
  padding-right: 42px;
  text-align:center;
}

.info-h1{
  font-weight: 400;
  font-size: 25px;
}

.info-p{
  font-weight: 400;
  font-size: 22px;
  margin-top:20px;
  margin-bottom: 52px;
}

.info-a {
  font-weight: 400; 
  font-size: 18px; 
  margin-top: 52px; 
  text-decoration: none; 
  color: #292F36; 
}

.contact-wrapper{
  display:flex;
  flex-direction:row;
  width: 1200px;
  height: 700px;
}

.contact-info{
  margin-right:75px;
  padding-top: 43px;
  width: 472px;
  height: 614px;
}

.con-h1{
  font-weight: 400;
  font-size:50px;
}

.con-title{
  width: 472px;
  height: 354px;
}

.con-p{
  font-weight: 400;
  font-size: 22px;
  margin-top: 33px;
}

.con-number{
  display:flex;
  flex-direction:row;
  width: 277px;
  height: 93px;

}

.num-h1{
  font-weight: 700;
  font-size: 24px;
}

.num-h3{
  font-weight: 400;
  font-size: 22px;

}

.number-title{
  width: 164px;
  height: 64px;
  margin-left: 15px;
  padding-top: 14.5px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.con-but{
  margin-top: 47px;
  width: 219.14px;
  height: 75px;
  border-radius: 18px;
  background-color: #292F36;
  color: aliceblue;
}

.con-img{
  border-bottom-left-radius: 150px;
  border-top-right-radius:150px;
}


.reviews-blocks{
  display:flex;
  flex-direction:row;
}

.review-p{
  display:flex;
  text-align:center;
}

.review-block{
  padding-right:50px;
  width: 370px;
  height: 340px;
  background-color: #fff;
  border-radius:15px;
}

.photo-user{
  width: 77px;
  height: 77px;
}

.info-user-h1{
  padding-top: 10px;
  font-weight: 400;
  font-size: 25px;
}

.info-user-h3{
  font-weight: 400;
  font-size: 14px;
}

.user{
  padding-top: 53px;
  padding-left: 37px;
  display:flex;
  flex-direction:row;
}

.info-user{
    padding-left: 15px;
}

.review-title{
  padding-top: 25px;
  width: 296px;
  height: 99px;

}

.review-p{
  padding-left: 37px;
  padding-top: 25px;
  font-weight: 400;
  font-size: 22px;
}

.review-wrapper {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.reviews-blocks {
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

.review-block {
  margin-right: 40px; 
  width: 370px;
  height: 340px;
  background-color: #fff;
  border-radius: 15px;
}

.review-block:last-child {
  margin-right: 0; 
}

.review-h1 {
  margin-bottom: 38px; 
  font-weight:400;
  font-size: 50px;

}

.review {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  width: 1200px;
  height: 679px;
  background-color: #F4F0EC;
  border-radius: 50px;
  margin: 200px auto 0; 
}

/* .brand{
  width: 1010px;
  height: 103px;
}

.brand-wrapper{
  display:flex;
  
} */

.brand {
  width: 1010px; 
  margin: 0 auto; 
}

.brand-wrapper {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.block-hz {
  margin-bottom: 200px;
  margin-top: 200px;
  display: flex; 
  justify-content: center; 
}

.block-img {
  display: block; 
  width: auto; 
  height: auto; 
  margin-right: 108px; 
}


.block-img:last-child {
  margin-right: 0; 
}

.block-img1{
  margin-top: 30px;
  margin-right: 108px;
  width: 132px;
  height: 43px;
}

.block-img3{
  margin-top: 30px;
  margin-right: 108px;
  width: 163px;
  height: 43px;

}


.block-img4{
  margin-top: 30px;
  margin-right: 108px;
  width: 144px;
  height: 44px;
}

.block-img5{
  margin-top: 30px;
  width: 116px;
  height: 47px;
}

.prikin{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.project-block{
  width: 636px;
  height: 552px;
}

.project{
  width: 1201px;
  height: 1541px;
}

.project-wrapper{
  width: 1201px;
  height: 1541px;

}

.heading-h1{
  width: 451px;
  height: 63px;
  text-align:center;
  font-weight: 400;
  font-size: 50px;
}

.heading-p{
  width: 737px;
  height: 66px;
  text-align:center;
  font-weight: 400;
  font-size: 22px;
}



.heading {
  height: 137px;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
}

.project-blocks {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
}


.project {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
  width: 100%;
}

.project-wrapper {
  max-width: 1300px; 
  width: 100%; 
  padding: 0 20px; 
}

.heading {
  margin-bottom: 93px;
  height: 137px;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center;
}

.project-block{
  margin-bottom: 60px;
  width: 619px;
  height: 549px;

}

.knopka{
  padding-left:262px;
  width: 70px;
  height: 70px;
}

.project-text{
  margin-bottom:0px;
  width: 217px;
  height: 62px;
}

.items-bot{
  display:flex;
  flex-direction:row;
}

.items-bot{
  margin-top:24px;
  width: 547px;
  height: 70px;
  margin-bottom:80px;
}

.achieve{
  width: 1920px;
  height: 457px;
  background-color: #F4F0EC;
  display:flex;
  align-items:center;
}

.achieve-wrapper{
  display:flex;
  margin-left: 419px;
}



.blog-title{
  margin-bottom: 52px;
  width: 811px;
  height: 141px;
  text-align:center;
}

.blog-h1{
  font-weight: 400;
  font-size: 50px;
  color:#292F36;
}

.blog-h3{
  font-weight: 400;
  font-size: 22px;
  color:#4D5053;
}

.blog-knopka{
  width: 52px;
  height: 52px;
  border-radius:50%;
}

.prost{
  width: 340px;
  height: 290px;
}

.blog-h4{
  font-weight: 400;
  width: 305px;
  height: 70px;
  font-size: 25px;
}

.blog-p{
  font-weight: 400;
  font-size: 16px;
  width: 223px;
  height: 33px;
  margin-top: 40px;
}

.blog-subtitle{
  display:flex;
  flex-direction: row;
}

.blog {
  width: 1200px; 
  margin: 0 auto; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.blog-wrapper {
  margin-top: 200px;
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.kartinka2{
  width: 340px;
  height: 479px;
  background-color: #e7e7e7;
  border-radius:15px;
}

.blog-knopka{
  margin-top: 30px;
}

.blog-item {
  display: flex; 
  flex-direction: row; 
  align-items: stretch; 
  justify-content: space-between; 
  width: 100%; 
  margin-bottom: 20px; 
}

.blog-item-title {
  flex: 2;
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
}

.blog-subtitle {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-top: 10px;
}

.kartinka1 {
  background-size: cover; 
  background-position: center; 
  border-radius: 15px; 
}



.join {
  margin-left: 360px;
  margin-bottom: 200px;
  margin-top: 200px; 
  width: 1200px;
  height: 374px;
  background-color: #292f36;
  border-radius: 20px;
  display: flex; 
  justify-content: center;
  align-items: center; 
}

.join-wrapper {
  
  width: 569px;
  height: 214px;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

.join-h1 {
  font-weight: 400;
  font-size: 50px;
  color: #fff;
  text-align: center;
}

.join-h3 {
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  text-align: center;
}

.join-but {
  margin-top: 32px;
  width: 237px;
  height: 75px;
  background-color: #cda274;
  color: aliceblue;
  border-radius: 15px;
  font-weight: 600;
  font-size: 16px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}


.p-but{
  color:#292F36;
  font-weight: 400;
}

.footer-wrapper{
  margin-left: 360px;
  display:flex;
  flex-direction:row;
  width: 1200px;
  height: 370px;
}

.pages{
  margin-left: 101px;
  display:flex;
  flex-direction:column;
  width: 125px;
  height: 370px;
}

.interno{
  width: 393px;
  height: 188px;
}

.footer-a{
  margin-top: 25px;
  color:#4D5053;
  font-weight: 400;
  font-size: 22px;
  text-decoration: none;
}

.connect{
  margin-left: 101px;
  width: 258px;
  height: 272px;
}

.footer-line{
  width: 100%;
  height: 73px;
  text-align:center;
  margin-top: 200px;
}

.footer-h2{
  color:#4D5053;
  font-weight: 400;
  font-size: 22px;
}

.pattern-wrapper{
  width: 751px;
  height: 295px;
}

.pattern{
  display:flex;
  justify-content:center;
  margin-top: 200px;
  margin-left: 520px;
  margin-bottom: 200px;
  width: 875px;
  height: 428px;
  outline:25px solid #F4F0EC;
  border-radius:25px;
}

.h1-pat{
  margin-top: 67px;
  text-align:center;
  font-weight: 400;
  font-size: 85px;
}

.h1-patt{
  font-weight: 400;
  font-size: 35px;
  text-align:center;
}

.h3-patt{
  font-weight: 400;
  color:#4D5053;
  font-size: 25px;
  text-align:center;
  margin-top: 34px;
}

.concept-wrapper{
  margin-left: 360px;
  display:flex;
  flex-direction:row;
  width: 1200px;
  height: 377px;

}

.concept-title{
  margin-right: 41px;
  width: 500px;
  height: 334px;
}

.concept-img{
  width: 659px;
  height: 377px;
}

.conc-h1{
  font-weight: 400;
  font-size: 50px;
}

.conc-p{
  font-weight: 400;
  font-size: 22px;
  color:#4D5053;
  margin-top: 23px;
  width: 500px;
  height: 132px;
}

.but-conc{
  width: 220px;
  height: 75px;
  border-radius:15px;
  background-color: #292f36;
  color:aliceblue;
  font-weight: 600;
  font-size: 16px;
  margin-top: 41px;
}

.services-wrap{
  margin-top: 200px;
  margin-left: 382px;
  max-width: 1158px;
  max-height: 704px;

}

.services-top{
  display:flex;
  flex-direction:row;
  max-width: 1158px;
  max-height: 225px;
}

.services-h3{
  text-align:center;
  font-weight: 400;
  font-size: 25px;
  color:#292F36;
}

.sevices-block-top{
  width: 358px;
  height: 225px;
}

.services-p{
  margin-top: 20px;
  font-weight: 400;
  font-size: 22px;
  color:#4D5053;
  text-align:center;
  width: 358px;
  height: 99px;
}

.services-a{
  margin-top: 52px;
  font-weight: 600;
  font-size: 18px;
  text-align:center;
  align-items:center;
  display:flex;
  margin-left: 119px;
  color:#4D5053;
}

.services-bot{
  margin-top: 100px;
  display:flex;
  flex-direction:row;
  width: 1158px;
  height: 225px;

}

.services-block-bot{
  width: 358px;
  height: 225px;
}

.services-block-bot-2{
  width: 398px;
  height: 391px;
  background-color: #f4f0ec;
}

.details{
  width: 967px;
  height: 486px;
  display:flex;
  flex-direction:row;
}

.hww{
  margin-left: 360px;
  margin-top: 200px;
  margin-bottom: 200px;
  width: 1200px;
  height: 2718px;
  background-color: #f4f0ec;
  border-radius:50px;
}

.hww-title{
  margin-top: 160px;
  margin-left: 198px;
  width: 802px;
  height: 176px;
}

.hww-h1{
  padding-top: 160px;
  font-weight: 400;
  font-size: 50px;
  color:#363B41;
  text-align:center;
}

.hww-h3{
  font-weight: 400;
  font-size: 22px;
  color:#4D5053;
  text-align:center;
}

.details{
  margin-left: 100px;
  width: 967px;
  height: 485px;
  margin-top: 200px;
}

.detail-title{
  margin-left: 51px;
  margin-top: 85px;
  width: 456px;
  height: 316px;
}

.number-detail{
  margin-bottom: 58px;
  width: 452px;
  height: 102px;
  display:flex;
  flex-direction: row;
}

.h5-detail{
  margin-left: 253px;
  vertical-align:15px;
  font-weight: 400;
  font-size: 120px;
  color:#fff;
}

.opis-detail{
  width: 456px;
  height: 154px;
}

.h1-detail{
  margin-bottom: 11px;
  font-weight: 400;
  font-size: 35px;
  color:#292F36;
}

.p-detail{
  font-weight: 400;
  font-size: 22px;
  color:#4D5053;
}

.idea{
  margin-left:100px;
  display:flex;
  flex-direction:row;
  margin-top: 70px;
  width: 967px;
  height: 486px;
}

.img-detail{
  width: 453px;
  height: 486px;
}

.design{
  margin-left:100px;
  margin-top: 70px;
  width: 967px;
  height: 486px;
  display:flex;
  flex-direction:row;
}

.detail-title2{
  margin-right: 51px;
  margin-top: 85px;
  width: 456px;
  height: 316px;
}

.portfolio-wrapper {
  /* margin-bottom: 180px; */
  margin-top: 150px;
  margin-left: 360px;
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: 377px;
}
.portfolio-img {
  width: 659px;
  height: 377px;
  margin-right: 41px;
}
.portf-h1 {
  font-weight: 400;
  font-size: 50px;
}
.portf-p {
  font-weight: 400;
  font-size: 22px;
  color: #4d5053;
  margin-top: 23px;
  width: 500px;
  height: 132px;
}
.team {
  margin-top: 180px;
  margin-bottom: 200px;
  width: 1920px;
  height: 880px;
  background-color: #f4f0ec;
}
.team-wrapper {
  margin-top: 180px;
  margin-left: 360px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 1200px;
  height: 600px;
}
.h1-team {
  text-align: center;
  font-weight: 400;
  font-size: 50px;
  color: #292f36;
  height: 126px;
  width: 547px;
}
.team-title {
  margin-top: 200px;
  margin-left: 326px;
  margin-bottom: 40px;
  width: 547px;
  height: 127px;
  display: flex;
  justify-content: center;
}
.photo-team {
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.team-img {
  margin-right: 22px;
  width: 284px;
  height: 433px;
}
.input-wrapper {
  margin-bottom: 180px;
  margin-left: 562px;
  width: 796px;
  height: 632px;
}
.h1-input {
  margin-left: 81px;
  width: 634px;
  height: 126px;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
}
.input {
  width: 796px;
  height: 632px;
}
.iam-inp {
  padding-right: 40px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  width: 378px;
  height: 45px;
}
.iam {
  margin-bottom: 57px;
  display: flex;
  flex-direction: row;
  width: 796px;
  height: 45px;
}
.input-title {
  width: 225px;
}
.iam-inp2 {
  margin-left: 40px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  width: 378px;
  height: 45px;
}
input {
  margin-bottom: 180px;
  font-weight: 400;
  font-size: 22px;
  color: #4d5053;
}
.talk {
  width: 795px;
  width: 175px;
}
.talk-inp {
  width: 795px;
  height: 175px;
}
.form-group textarea {
  height: 175px;
  width: 795px;
  margin-top: 46px;
  padding-left: 54px;
  padding-top: 15px;
  font-size: 22;
  font-weight: 400;
  resize: none;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}
placeholder {
  font-weight: 400;
  font-size: 22px;
}
textarea {
  font-weight: 400;
  font-size: 22px;
}
.but-inp {
  margin-left: 288px;
  width: 220px;
  height: 75px;
  border-radius: 15px;
  background-color: #292f36;
  color: aliceblue;
  font-weight: 600;
  font-size: 16px;
  margin-top: 41px;
}

.look-bed{
  margin-top: 200px;
  margin-bottom: 200px;
  justify-content:center;
  align-items:center;
  margin-left: 360px;
  width: 1200px;
  height: 437px;
  display:flex;
  flex-direction:row;
}


.h1-bedroom{
  font-weight: 400;
  font-size: 50px;
  color:#292F36;
}

.bedroom-title{
  margin-left: 42px;
  width: 658px;
  height: 437px;
}


.p-bedroom1{
  font-weight: 400;
  font-size: 22px;
  color:#4D5053;
}

.p-bedroom2{
  margin-top: 25px;
  font-weight: 400;
  font-size: 22px;
  color:#4D5053;
}

.bedroom-photo{
  margin-left: 360px;
  margin-bottom: 200px;
}

